/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, html
{
	height: 100%;
}

body {
	background-image: url("background1.jpg");
	height:100%
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #d9d9cc;

}

.bg-1 {
	background-color: #ffffff;
	opacity: 0.6;
	margin-top: 60px;

}

.bg-1 h3 {
	color: #000000;
	font-weight: bold;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #f36e46
}
.navbar-nav  li a:hover {
    color: #f36e46 !important;
}

.container
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.container-intro
{
	text-align: left;
	margin-top: 100px;
	margin-bottom: 50px;
  padding: 10px;
  margin-bottom: 100px;
}

.container-intro-2
{
	text-align: left;
	margin-top: 100px;
	margin-bottom: 50px;
  padding: 10px;
  margin-bottom: 400px;
}

.container-intro-3
{
	text-align: left;
	margin-top: 30px;
	margin-bottom: 5px;
  padding: 10px;
  margin-bottom: 5px;
	letter-spacing: 5px;
}

.container-signup
{
	margin-top: 50px;
	padding: 10px;

}

.row-intro{
	margin-top: 60px;
	margin-bottom: 80px;
}

.row-intro h1
{
	font-weight: 900;
	text-transform: uppercase;
	color: #454b53;
	letter-spacing: 5px;
}

.row-intro h3
{
	color: #b0c17a;
	text-transform: uppercase;
	display: inline-block;

}

.footer {
	color: #454b53;
}
.page-footer
{
	color: #454b53;
	margin-left: 20px;
	margin-right: 20px;

}

.divider-2
{
	margin-top: 100px;
	margin-bottom: 50px;
  padding: 10px;
  margin-bottom: 200px;
}
